#banner-slider{
    position: relative;
}
#banner-slider .slider-item{
    position: relative;
    border-radius: 25px;
    overflow: hidden;
}
#banner-slider .slider-content{
    position: absolute;
    top: 15%;
    left: 6%; 
    width: calc(50% - 6%);  
}
#banner-slider .slider-content h2{
    font-size: 4rem;
    font-weight: 700;
    color: #0e5031;
}
#banner-slider .slider-content p{
    margin-bottom: 0;
    font-size: 1.5rem;
    opacity: 0.6;
    font-weight: 500;
    margin-top: 1.5rem;
}
#banner-slider .slick-dots{
    bottom: 25px;
}
#banner-slider .slick-dots li button:before,
#banner-slider .slick-dots li button:after{
    font-size: 14px;
    color: transparent;
    border : 2px solid var(--primary-color);
    border-radius: 50%;
}

#banner-slider .slick-dots li.slick-active button:before,
#banner-slider .slick-dots li.slick-active button:after{
    color: var(--primary-color);
}
.news-wrapper {
    position: absolute;
    bottom: 15%;
    left: 7%;
    max-width: fit-content;
}