.cat-wrapper {
    text-align: center;
    background-color: transparent;
    max-width: fit-content;
    border-radius: 10px;
    padding: 0px 10px 15px 10px;
    cursor: pointer;
    transition: 0.3s;
    min-width: 140px;
    overflow: hidden;
    margin-top: 15px;    
}
.cat-wrapper:hover{
    transform: translateY(-5px);
}
.cat-img img{
    width: 100px;
    margin: auto;
}
.cat-title{
    font-weight: 600;
}
.cat-wrapper:hover .cat-title{
    color: var(--primary-color);
}
.cat-quantity{
    font-size: 14px;
}
.categorySlider .slick-prev{
    right: 30px;
    left: auto;
    z-index: 9;
}
.categorySlider .slick-next{
    right: 0px;
}
.categorySlider .slick-prev, .categorySlider .slick-next {
    top: -20%;
    
}
.categorySlider .slick-prev:before, .categorySlider .slick-next:before{
    color: #c6c7c8;
    font-size: 25px;
}
.categorySlider .slick-prev:hover:before, .categorySlider .slick-next:hover:before{
    color: var(--primary-color);
}
