.proCardWrapper {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;    
    margin: 10px 0px;
    position: relative;
    overflow: hidden;
    transition: 0.3s;    
}
.proCardWrapper:hover{
    border-color: #cdfee8;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}
.proImgAction {
    position: relative;
    width: 100%;
    height: 230px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 10px 10px 0px;
}
.proImg {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 15px;
}
.proImg a{
    display: block;
    margin: 20px;
    overflow: hidden;
}
.proImg a img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
    max-width: 100%;
    transition: 0.3s ease-in;    
}
.proImg a .hoverImg{
    opacity: 0;
    visibility: hidden;    
}
.proCardWrapper:hover .proImg a .hoverImg{
    visibility: visible;
    opacity: 1;    
}
.proCardWrapper:hover .proImg a .defaultImg{
    opacity: 0;
    visibility: hidden;
}
.proCardWrapper:hover .proImg a img{
    transform: scale(1.05);
}
.proBadge {
    position: absolute;
    top: 0;
    left: 0;    
}
.proBadge span{
    background: transparent;
    border-bottom-right-radius: 10px;
    display: block;
    padding: 4px 15px;
    font-weight: 500;
    color: #fff;
    font-size: .7rem;
}
.proContentWrapper{
    padding: 0px 15px 15px;
}
.proCat{
    font-size: 12px;
}
.proTitle{
    display: -webkit-box;
    font-size: .9rem;
    font-weight: 600;
    margin: 7px 0px;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 40px;
}
.proTitle:hover{
    color: var(--primary-color);
}
.proRating{
    display: block;    
}
.proCompany{
    font-size: 12px;
    margin: 7px 0px;
    display: block;
}
.proFooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.proNewPrice{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.15rem;
    display: inline-block;
}
.proOldPrice{
    color: red;
    text-decoration: line-through;
    font-size: .9rem;
    font-weight: 500;
    display: inline-block;
    margin-left: 10px;
    opacity: .5;
}
.proFooter button {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #cdfee8;
    border: none;
    color: var(--primary-color);
    border-radius: 3px;
    padding: 5px 10px;
    font-weight: 500;
    font-size: .9rem;
    transition: 0.3s;
}
.proFooter button:hover{
    background-color: var(--primary-color);
    color: #fff;
}

.proAction{
    position: absolute;
}
.proAction ul {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .1);
    display: flex;
    padding-left: 0px;
    margin-bottom: 0;
    background: #fff;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    transform: scale(0.8);
    
}
.proCardWrapper:hover .proAction ul{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.proAction li{
    list-style: none;
}
.proAction li a{
    display: block;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 4px 10px;
    color: var(--primary-color);
    border-right: 1px solid var(--primary-color);    
}
.proAction li a:hover{
    color: goldenrod;
}
.proAction li:last-child a{
    border: none;
}


.tippy-box[data-theme~='green'] {
    background-color: var(--primary-color);
    color: #fff;
}